<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <!--https://www.w3schools.com/bootstrap/bootstrap_theme_me.asp-->

  <title>Classic Mode R3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/home">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/add_new_item">Add New Item</a></li>
        <li><a href="/help_page">Help</a></li>
        <li><a href="https://colab.research.google.com/drive/1MWiK2upG4CPk4Kj97VGm-N8rEq9tYLv0">Go To Original Code!!</a></li>
        </ul>
      </div>
    </div>
  </nav>



<!-- Main Text Area-->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Add New Item</h1>



<form method = 'post' action={{action}}>
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control" name = 'new_item' id="new_item" placeholder="New Item" type="text">
    </div>
    <input class="btn btn-primary mb-2" name = 'add_item' value = 'Add Item' type="submit" >
  </input>
</form>

<form method = 'post' action='/home'> 
  <button class = "btn btn-default" name="back_to_home" value="back_to_home" type="submit"> Back to List </button>
</form>


  
  </div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Created by Josie Smith</a></p> 
</footer>