<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <!--https://www.w3schools.com/bootstrap/bootstrap_theme_me.asp-->

  <title>Classic Mode R1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/home">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/add_new_item">Add New Item</a></li>
        <li><a href="/help_page">Help</a></li>
        <li><a href="https://colab.research.google.com/drive/1MWiK2upG4CPk4Kj97VGm-N8rEq9tYLv0">Go To Original Code!!</a></li>
        </ul>
      </div>
    </div>
  </nav>




<div class="container-fluid bg-2">
    <h1 class="margin">Need some help? This is how the code works:</h1>
    <p style="font-size:140%;">To add code:</p>
    <p style="font-size: 100%;">- Click the "Add Item" button on the home page.</p>
    <p class=margin style="font-size:100%;">- Open the Navigation bar at the top of your screen, then select "Add New Item".</p>
    <p style="font-size:140%;">To remove items in your list:</p>
    <p style="font-size:100%;">- Click on the item you would like to delete</p>
    <p style="font-size:100%;">- Click "Yes" to remove it from your list</p>
    <p class=margin style="font-size:100%;">- If you would like to return to your list without making any changes, click "No"</p>
    <p style="font-size:140%;">To go to the original python code:</p>
    <p style="font-size:100%;">- Open the navigation bar at the top of your screen, then select "Go To Original Code!!"</p>
  </form>
  
  </div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Created by Josie Smith</a></p> 
</footer>